@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Medium.eot');
    src: local('Aeonik Medium'), local('Aeonik-Medium'),
        url('Aeonik-Medium.eot?#iefix') format('embedded-opentype'),
        url('Aeonik-Medium.woff2') format('woff2'),
        url('Aeonik-Medium.woff') format('woff'),
        url('Aeonik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Light.eot');
    src: local('Aeonik Light'), local('Aeonik-Light'),
        url('Aeonik-Light.eot?#iefix') format('embedded-opentype'),
        url('Aeonik-Light.woff2') format('woff2'),
        url('Aeonik-Light.woff') format('woff'),
        url('Aeonik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Black.eot');
    src: local('Aeonik Black'), local('Aeonik-Black'),
        url('Aeonik-Black.eot?#iefix') format('embedded-opentype'),
        url('Aeonik-Black.woff2') format('woff2'),
        url('Aeonik-Black.woff') format('woff'),
        url('Aeonik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Bold.eot');
    src: local('Aeonik Bold'), local('Aeonik-Bold'),
        url('Aeonik-Bold.eot?#iefix') format('embedded-opentype'),
        url('Aeonik-Bold.woff2') format('woff2'),
        url('Aeonik-Bold.woff') format('woff'),
        url('Aeonik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Regular.eot');
    src: local('Aeonik Regular'), local('Aeonik-Regular'),
        url('Aeonik-Regular.eot?#iefix') format('embedded-opentype'),
        url('Aeonik-Regular.woff2') format('woff2'),
        url('Aeonik-Regular.woff') format('woff'),
        url('Aeonik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Thin.eot');
    src: local('Aeonik Thin'), local('Aeonik-Thin'),
        url('Aeonik-Thin.eot?#iefix') format('embedded-opentype'),
        url('Aeonik-Thin.woff2') format('woff2'),
        url('Aeonik-Thin.woff') format('woff'),
        url('Aeonik-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES_Rebond_Grotesque';
    src: url('ESRebondGrotesqueTRIAL-Semibold.eot');
    src: local('ES Rebond Grotesque TRIAL Semibold'), local('ESRebondGrotesqueTRIAL-Semibold'),
        url('ESRebondGrotesqueTRIAL-Semibold.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesqueTRIAL-Semibold.woff2') format('woff2'),
        url('ESRebondGrotesqueTRIAL-Semibold.woff') format('woff'),
        url('ESRebondGrotesqueTRIAL-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES_Rebond_Grotesque';
    src: url('ESRebondGrotesqueTRIAL-Bold.eot');
    src: local('ES Rebond Grotesque TRIAL Bold'), local('ESRebondGrotesqueTRIAL-Bold'),
        url('ESRebondGrotesqueTRIAL-Bold.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesqueTRIAL-Bold.woff2') format('woff2'),
        url('ESRebondGrotesqueTRIAL-Bold.woff') format('woff'),
        url('ESRebondGrotesqueTRIAL-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES_Rebond_Grotesque';
    src: url('ESRebondGrotesqueTRIAL-Extrabold.eot');
    src: local('ES Rebond Grotesque TRIAL Extrabold'), local('ESRebondGrotesqueTRIAL-Extrabold'),
        url('ESRebondGrotesqueTRIAL-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesqueTRIAL-Extrabold.woff2') format('woff2'),
        url('ESRebondGrotesqueTRIAL-Extrabold.woff') format('woff'),
        url('ESRebondGrotesqueTRIAL-Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES_Rebond_Grotesque';
    src: url('ESRebondGrotesqueTRIAL-Extralight.eot');
    src: local('ES Rebond Grotesque TRIAL Extralight'), local('ESRebondGrotesqueTRIAL-Extralight'),
        url('ESRebondGrotesqueTRIAL-Extralight.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesqueTRIAL-Extralight.woff2') format('woff2'),
        url('ESRebondGrotesqueTRIAL-Extralight.woff') format('woff'),
        url('ESRebondGrotesqueTRIAL-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES_Rebond_Grotesque';
    src: url('ESRebondGrotesqueTRIAL-Medium.eot');
    src: local('ES Rebond Grotesque TRIAL Medium'), local('ESRebondGrotesqueTRIAL-Medium'),
        url('ESRebondGrotesqueTRIAL-Medium.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesqueTRIAL-Medium.woff2') format('woff2'),
        url('ESRebondGrotesqueTRIAL-Medium.woff') format('woff'),
        url('ESRebondGrotesqueTRIAL-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES_Rebond_Grotesque';
    src: url('ESRebondGrotesqueTRIAL-Light.eot');
    src: local('ES Rebond Grotesque TRIAL Light'), local('ESRebondGrotesqueTRIAL-Light'),
        url('ESRebondGrotesqueTRIAL-Light.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesqueTRIAL-Light.woff2') format('woff2'),
        url('ESRebondGrotesqueTRIAL-Light.woff') format('woff'),
        url('ESRebondGrotesqueTRIAL-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES_Rebond_Grotesque';
    src: url('ESRebondGrotesqueTRIAL-Regular.eot');
    src: local('ES Rebond Grotesque TRIAL Regular'), local('ESRebondGrotesqueTRIAL-Regular'),
        url('ESRebondGrotesqueTRIAL-Regular.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesqueTRIAL-Regular.woff2') format('woff2'),
        url('ESRebondGrotesqueTRIAL-Regular.woff') format('woff'),
        url('ESRebondGrotesqueTRIAL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES_Rebond_Grotesque';
    src: url('ESRebondGrotesqueTRIAL-Thin.eot');
    src: local('ES Rebond Grotesque TRIAL Thin'), local('ESRebondGrotesqueTRIAL-Thin'),
        url('ESRebondGrotesqueTRIAL-Thin.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesqueTRIAL-Thin.woff2') format('woff2'),
        url('ESRebondGrotesqueTRIAL-Thin.woff') format('woff'),
        url('ESRebondGrotesqueTRIAL-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ES_Rebond_Grotesque';
    src: url('ESRebondGrotesqueTRIAL-Hairline.eot');
    src: local('ES Rebond Grotesque TRIAL Hairline'), local('ESRebondGrotesqueTRIAL-Hairline'),
        url('ESRebondGrotesqueTRIAL-Hairline.eot?#iefix') format('embedded-opentype'),
        url('ESRebondGrotesqueTRIAL-Hairline.woff2') format('woff2'),
        url('ESRebondGrotesqueTRIAL-Hairline.woff') format('woff'),
        url('ESRebondGrotesqueTRIAL-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

